/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map,
#root {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.school-parent-popup {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: -999999;
}

.school-title-popup {
  width: 150px;
  border: 1px dashed;
  position: absolute;
  padding: 8px 10px;
  background: white;
  font-weight: 100;
  border-radius: 5px;
  display: none;
}