/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map,
#root {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.school-parent-popup {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: -999999;
}

.school-title-popup {
  width: 150px;
  border: 1px dashed;
  position: absolute;
  padding: 8px 10px;
  background: white;
  font-weight: 100;
  border-radius: 5px;
  display: none;
}

.school-info-window {
  padding: 0 10px;
}

.school-info-window dt {
  font-weight: bold;
    font-size: 14px;
    margin: 6px 0;
}

.school-info-window dd {
  line-height: 20px;
  margin: 10px;
}

.school-info-window dt:not(:empty):not(:first-child) {
  border-top: 1px solid grey;
  padding-top: 7px;
}